@font-face {
  font-family: 'TT Hoves Medium';
  src: url('../../src/assets/fonts/TT_Hoves_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TT Hoves Regular';
  src: url('../../src/assets/fonts/TT_Hoves_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TT Hoves Bold';
  src: url('../../src/assets/fonts/TT_Hoves_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TT Hoves DemiBold';
  src: url('../../src/assets/fonts/TT_Hoves_DemiBold.otf') format('opentype');
  font-weight: 500;
}

body {
  background-color: $primary-blacker-bis;
  line-height: 160%;
  font-size: 16px;
  font-family: 'TT Hoves Regular', sans-serif;
  font-weight: 500;
  @media #{$lg} {
    font-family: 'TT Hoves Regular' sans-serif;
    font-weight: 400;
  }
}
h1 {
  font-family: 'TT Hoves Bold', sans-serif;
  font-size: 56px;
  line-height: 120%;
  color: white;
}
h2 {
  color: white;
  font-family: 'TT Hoves Bold', sans-serif;
  font-size: 48px;
  line-height: 120%;
}
h3 {
  color: white;
  font-size: 40px;
  line-height: 120%;
  font-family: 'TT Hoves Bold', sans-serif;
  font-weight: 700;
}
h4 {
  font-size: 32px;
  line-height: 120%;
}
h5 {
  font-size: 28px;
  line-height: 120%;
  font-family: 'TT Hoves Bold', sans-serif;
  font-weight: 700;
}
h6 {
  font-size: 24px;
  line-height: 120%;
}
p {
  font-size: 18px;
  .large {
    font-size: 20px;
  }
  .small {
    font-size: 12px;
  }
  .mini {
    font-size: 10px;
  }
  .micro {
    font-size: 8px;
    line-height: 120%;
  }
}
a {
  font-size: 14px;
}