.About {
  margin-top: 5px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-black;
      border-radius: 32px;
      width: 80%;
      padding: 32px 24px;
      z-index: 1;
      &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        a {
          text-decoration: none;
        }
        &__title {
          color: white;
          font-size: 40px;
          line-height: 48px;
          font-weight: 700;
          margin: 0;
          padding: 0;
        }
        &__intro {
          color: white;
          font-size: 16px;
          line-height: 25px;
          font-family: "TT Hoves Regular";
          font-weight: 400;
        }
        button {
          font-family: "TT Hoves DemiBold";
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          width: 153px;
          padding: 16px 20px;
          white-space: nowrap;
          align-self: flex-start;
          margin-bottom: 0px;
        }
      }
    }
    &__facts {
      display: flex;
      flex-direction: column;
      margin-top: -25px;
      width: 100%;
      background: $primary-light;
      z-index: 0;
      &__section {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 32px;
        padding-top: 35px;
        padding-bottom: 32px;
        &__title {
          margin: 0;
          padding: 0 24px;
          color: white;
          font-size: 32px;
          line-height: 38px;
          font-weight: 700;
          align-self: center;
          padding-top: 30px;
          align-self: flex-start;
        }
        &__wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: nowrap;
          overflow-x: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;
          scroll-behavior: smooth;
          row-gap: 32px;
          column-gap: 24px;
          gap: 32px;
          padding-left: 24px;
          &__sixthFacts {
            margin-right: 24px;
          }
          &__firstFacts,
          &__secondFacts,
          &__thirdFacts,
          &__fourthFacts,
          &__fifthFacts,
          &__sixthFacts {
            display: flex;
            flex-direction: column;
            gap: 8px;
            color: $white;
            background-color: $primary-light-bis;
            border-radius: 32px;
            border-radius: 32px;
            max-width: 200px;
            min-width: 200px;
            max-height: 100px;
            min-height: 100px;
            padding: 33px 32px;
            h5 {
              font-size: 28px;
              line-height: 33px;
              margin: 0;
              padding: 0;
            }
            p {
              font-size: 16px;
              line-height: 25px;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
  @media #{$md} {
    margin-top: 80px;
    &__content {
      &__card {
        width: 730px;
        &__body {
          gap: 32px;
          width: 600px;
          padding: 44px 0;
          &__title {
            font-size: 42px;
            line-height: 48px;
          }
          &__intro {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      &__facts {
        &__section {
          &__title {
            font-size: 48px;
            line-height: 57px;
          }
        }
      }
    }
  }
  @media #{$lg} {
    &__content {
      &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        background-color: $primary-black;
        border-radius: 72px;
        width: 1045px;
        padding: 14px 0px;
        padding-top: 40px;
        z-index: 1;
        &__body {
          width: 759px;
          h1 {
            font-size: 48px;
            line-height: 57px;
          }
          &__intro {
            font-size: 18px;
            line-height: 28px;
          }
          button {
            margin: 0;
            margin-top: 10px;
            margin-bottom: 8px;
          }
        }
      }
      &__facts {
        margin-top: -35px;
        align-items: center;
        justify-content: center;
        &__section {
          display: flex;
          flex-direction: column;
          width: 1184px;
          gap: 64px;
          padding-top: 80px;
          padding-bottom: 100px;
          &__title {
            font-size: 48px;
            line-height: 57px;
            align-self: flex-start;
            padding-bottom: 0;
            padding-left: 148px;
          }
          &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 32px;
            column-gap: 24px;
            padding-left: 128px;
            padding-right: 128px;
            &__firstFacts,
            &__secondFacts,
            &__thirdFacts,
            &__fourthFacts,
            &__fifthFacts,
            &__sixthFacts {
              background-color: $primary-light-bis;
              border-radius: 32px;
              max-width: 200px;
              min-width: 200px;
              max-height: 118px;
              min-height: 118px;
              padding: 40px 40px 48px 40px;
              h5 {
                font-size: 40px;
                line-height: 48px;
                padding-bottom: 12px;
              }
              p {
                font-size: 18px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }
}
