.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 0px;
  height: auto;
  margin-bottom: -15px;
  margin-top: 30px;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    align-self: flex-start;
    margin-bottom: 5px;

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: $neutral-pure;
      margin: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      color: #ffffff;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;

    &__questions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__question {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          &__btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 12px 14px 12px 20px;
            gap: 8px;
            border: 2px solid #1f1a34;
            border-radius: 16px;
            width: auto;
            flex-grow: 1;
          }
          h4 {
            font-family: "TT Hoves Medium";
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: white;
            align-self: flex-start;
            margin-bottom: 20px;
          }
          p {
            cursor: pointer;
            font-weight: 500;
            color: $neutral-pure;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
            flex-grow: 1;
          }
          &__icon {
            width: 10px;
            stroke: $neutral-pure;
            flex-shrink: 0;
            padding-left: 20px;
          }
        }

        &__answer {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 15px;
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #ffffff;
            margin-top: 0;
          }
        }
      }
    }
    &__buttons {
      display: none;
      &--mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        cursor: pointer;
        font-weight: 500;
        color: $neutral-pure;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        flex-grow: 1;
        &__btn {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 12px 14px 12px 20px;
          gap: 8px;
          border: 2px solid #1f1a34;
          border-radius: 16px;
          width: 100%;
          flex-grow: 1;
        }
        h4 {
          font-family: "TT Hoves Medium";
          font-weight: 500;
          font-size: 28px;
          line-height: 33px;
          color: white;
          align-self: flex-start;
        }
        &__icon {
          width: 10px;
          stroke: $neutral-pure;
          flex-shrink: 0;
        }
      }
      &--desktop {
        display: flex;
        flex-direction: column;
        position: sticky;
        margin-top: 15px;
        max-width: 330px;
        gap: 10px;
        top: 20px;
        &__button {
          font-family: "TT Hoves Medium";
          cursor: pointer;
          display: flex;
          color: $neutral-pure;
          padding: 12px 20px;
          gap: 8px;
          border: 2px solid #1f1a34;
          border-radius: 16px;
          min-width: 280px;
          max-width: 280px;
          min-height: 31px;
          max-height: 31px;
          flex-grow: 1;
          margin: 0;
          &--active {
            color: white;
            border-radius: 16px;
            border: 2px solid var(--neutral-onyx-blacker, #1f1a34);
            background: rgba(255, 255, 255, 0.04);
          }
        }
      }
    }
  }
  @media #{$lg} {
    margin-top: 60px;
    padding: 18px 124px;
    margin-bottom: 30px;
    &__content {
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;
      &__questions {
        max-width: 775px;
        &__content {
          &__question {
            h4 {
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 20px;
            }
          }
          &__answer {
            border: none;
            border-bottom: 0.5px #ffffff1f solid;
            margin-bottom: 40px;
            padding-bottom: 40px;
          }
        }
        &__content:last-child {
          .FAQ__content__questions__content__answer {
            border-bottom: none;
            margin-bottom: -10px;
            padding-bottom: 0;
          }
        }
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        max-width: 320px;
        gap: 10px;
        &__button {
          font-family: "TT Hoves Medium";
          line-height: 29px;
          cursor: pointer;
          display: flex;
          color: $neutral-pure;
          padding: 12px 20px;
          gap: 8px;
          border: 2px solid #1f1a34;
          border-radius: 16px;
          flex-grow: 1;
          margin: 0;
          min-width: 280px;
          min-height: 31px;
          &--active {
            color: white;
            border-radius: 16px;
            border: 2px solid var(--neutral-onyx-blacker, #1f1a34);
            background: rgba(255, 255, 255, 0.04);
          }
        }
      }
    }
  }
}

#question-1,
#question-2,
#question-3 {
  &.hidden {
    display: none;
  }
}

.Help {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px 10px;
  background-color: $primary-blacker;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    &__title {
      font-size: 32px;
      line-height: 38px;
      margin: 0;
      padding: 0;
    }
    &__desc {
      color: white;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      max-width: 330px;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
    }
    &__mail {
      font-family: "TT Hoves Medium";
      font-weight: 500;
      color: $primary-light;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
  @media #{$lg} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 85px;
    &__content {
      width: 40%;
      max-height: 170px;
      gap: 15px;
      &__desc {
        font-size: 18px;
        line-height: 29px;
        max-width: 460px;
      }
      &__title {
        font-size: 48px;
        line-height: 57px;
      }
      &__mail {
        margin-top: -5px;
      }
    }
  }
}
