.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 0px;
  gap: 40px;
  height: auto;
  margin-bottom: 32px;
  margin-top: 40px;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    align-self: flex-start;

    p {
      font-family: "TT Hoves", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: $neutral-pure;
      margin: 0;
    }

    h1 {
      font-family: "TT Hoves", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      color: #ffffff;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;


    &__questions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      width: 100%;
      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__question {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          &__btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 12px 14px 12px 20px;
            gap: 8px;
            border: 2px solid #1f1a34;
            border-radius: 16px;
            width: 100%;
            flex-grow: 1;
          }
          h4 {
            font-family: "TT Hoves", sans-serif;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: white;
            align-self: flex-start;
          }
          p {
            font-family: "TT Hoves", sans-serif;
            cursor: pointer;
            font-weight: 500;
            color: $neutral-pure;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
            flex-grow: 1;
          }
          &__icon {
            width: 10px;
            stroke: $neutral-pure;
            flex-shrink: 0;
          }
        }

        &__answer {
          p {
            font-family: "TT Hoves", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #ffffff;
          }
        }
      }
    }
    &__buttons {
      display: none;
    }
  }
  @media #{$lg} {
    margin-top: 80px;
    padding: 18px 124px;
    &__content {
      flex-direction: row;
      justify-content: space-between;
      &__questions {
        width: 60%;
        &__content {
          &__question {
            h4 {
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 10px;
            }
          }
          &__answer {
            border: none;
            border-bottom: 0.50px #FFFFFF1F solid;
            margin-bottom: 40px;
            padding-bottom: 40px;
          }
        }
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        width: 30%;
        gap: 10px;
        &__button {
          cursor: pointer;
          display: flex;
          color: $neutral-pure;
          padding: 12px 14px 12px 20px;
          gap: 8px;
          border: 2px solid #1f1a34;
          border-radius: 16px;
          width: 100%;
          flex-grow: 1;
          margin: 0;
          &--active {
            color: white;
            border-radius: 16px;
            border: 2px solid var(--neutral-onyx-blacker, #1F1A34);
            background: rgba(255, 255, 255, 0.04);
          }
        }
      }
    }
  }
}

.Help {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 40px 10px;
  background-color: $primary-blacker;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    &__title {
      font-size: 32px;
      line-height: 38px;
      margin: 0;
      padding: 0;
    }
    &__desc {
      font-family: "TT Hoves", sans-serif;
      color: white;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    &__mail {
      font-family: "TT Hoves", sans-serif;
      color: $primary-light;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
  @media #{$lg} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
    margin-bottom: 122px;
    &__content {
      width: 40%; 
      max-height: 170px;
      &__desc {
        font-size: 18px;
        line-height: 29px;
      }
      &__title {
        font-size: 48px;
        line-height: 57px;
      }
    }
  }
}
