.Networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-blacker-bis;
  padding: 0 24px 0;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
    width: 100%;
    &__head {
      display: flex;
      flex-direction: column;
      gap: 4px;
      &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        margin: 0;
        color: white;
      }
      &__desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        color: $neutral-light;
      }
    }
    &__control {
      display: flex;
      justify-content: center;
      width: 100%;
      &__searchBar {
        min-width: 280px;
        max-width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 26px;
        padding: 12.5px 20px 14.5px 14px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid var(--neutral-onyx-darker, #362f50);
        background: rgba(255, 255, 255, 0.04);
        &:hover {
          border: 1px solid $primary-medium;
        }
        &:focus-within {
          border: 1px solid $primary-light;
        }
        &:focus-visible {
          border-radius: 16px;
          border: 1px solid var(--primary-tanzanite-light, #7950f2);
          background: rgba(255, 255, 255, 0.06);
          box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
        }

        &__content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &:focus-visible {
            border-radius: 16px;
            border: 1px solid var(--primary-tanzanite-light, #7950f2);
            background: rgba(255, 255, 255, 0.06);
            box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
          }
          &__left {
            display: flex;
            align-items: center;
            &__iconSearch {
              stroke: $neutral-pure;
              width: 14px;
            }
            &__input {
              font-family: "TT Hoves Medium";
              color: white;
              outline: none;
              background: none;
              border: none;
              padding: 5px 10px;
              margin: 0;
              caret-color: $primary-light;
              font-size: 18px;
              max-width: 200px;
              &::placeholder {
                font-family: "TT Hoves Medium";
                font-weight: 500;
                color: $neutral-pure;
                font-weight: 500px;
                font-size: 18px;
                line-height: 28px;
              }
            }
          }
          &__iconParams {
            display: block;
            color: transparent;
            width: 12px;
            height: 12px;
            padding: 8px;
            border-radius: 6px;
          }
          &__iconSlash {
            display: none;
            font-family: "TT Hoves DemiBold";
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            width: 24px;
            height: 24px;
            color: $neutral-pure;
            text-align: center;
            padding: 1px;
            border-radius: 6px;
          }
        }
      }
      &__filters {
        display: none;
        gap: 24px;
        &__button {
          box-sizing: border-box;
          color: $neutral-pure;
          font-size: 18px;
          line-height: 28px;
          display: flex;
          justify-content: space-between;
          width: 160px;
          height: 56px;
          padding: 12px 14px 12px 20px;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 2px solid var(--neutral-onyx-blacker, #1f1a34);
          &:hover {
            border: 2px solid $primary-light;
          }
          &__label {
            font-family: "TT Hoves Medium";
            font-weight: 500;
            color: $neutral-pure;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
          }
          &__icon {
            width: 12px;
            stroke: $neutral-pure;
          }
          &__pannel2 {
            position: absolute;
            right: 128px;
            top: 340px;
          }
          &__pannel1 {
            position: absolute;
            right: 310px;
            top: 340px;
          }
          &__pannel1,
          &__pannel2 {
            box-sizing: border-box;
            width: 160px;
            flex-direction: column;
            align-items: flex-start;
            padding: 4px;
            background: $primary-black;
            box-shadow: 0px 8px 8px rgba(5, 1, 20, 0.64);
            border-radius: 16px;
            z-index: 1000;
            &__label {
              margin: 0;
              color: $neutral-pure;
              font-size: 18px;
              line-height: 28px;
              text-decoration: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 12px;
              gap: 14px;
              &:hover {
                color: white;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  @media #{$md} {
    &__content {
      &__control {
        display: flex;
        justify-content: space-around;
        width: 100%;
        &__searchBar {
          width: 30%;
          &__content {
            &__iconSlash {
              display: block;
            }
            &__iconParams {
              display: none;
            }
          }
        }
        &__filters {
          display: flex;
        }
      }
    }
  }
  @media #{$lg} {
    padding: 50px 128px;
    margin-top: 20px;
    &__content {
      gap: 48px;
      &__control {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__searchBar {
          width: 35%;
        }
        &__filters {
          align-self: flex-end;
          display: flex;
        }
      }
    }
  }
}

.Networks__content__control__searchBar__content__iconSlash {
  position: relative;
  transition: transform 0.3s ease;
}

.Networks__content__control__searchBar__content__iconSlash::before,
.Networks__content__control__searchBar__content__iconSlash::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: $neutral-pure;
  top: 50%;
  left: 25%;
  transition: transform 0.3s ease;
}

.Networks__content__control__searchBar__content__iconSlash::before {
  transform: rotate(-65deg);
}

.Networks__content__control__searchBar__content__iconSlash::after {
  transform: rotate(45deg);
  opacity: 0;
}

.Networks__content__control__searchBar__content__iconSlash.icon--active::before {
  animation: rotate-first-slash 0.3s ease-out forwards;
}

.Networks__content__control__searchBar__content__iconSlash.icon--active::after {
  opacity: 1;
  animation: cross-fade 0.3s ease-out forwards;
}

@keyframes rotate-first-slash {
  0% {
    transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes cross-fade {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}






