@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
  animation-duration: 0.5s;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
  animation-duration: 1s;
}

.Networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-blacker-bis;
  padding: 0 24px 0;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 50px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
    width: 100%;
    &__head {
      display: flex;
      flex-direction: column;
      gap: 4px;
      &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin: 0;
        color: white;
      }
      &__desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        color: $neutral-light;
      }
    }
    &__control {
      display: flex;
      justify-content: center;
      width: 100%;
      &__searchBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 26px;
        padding: 12.5px 20px 14.5px 14px;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid var(--neutral-onyx-darker, #362f50);
        background: rgba(255, 255, 255, 0.04);
        &:hover {
          border: 1px solid $primary-medium;
        }
        &:focus-within {
          border: 1px solid $primary-light;
          background-color: rgba(255, 255, 255, 0.06);
        }
        &:focus-visible {
          border-radius: 16px;
          border: 1px solid var(--primary-tanzanite-light, #7950f2);
          background: rgba(255, 255, 255, 0.06);
          box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
        }

        &__content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &:focus-visible {
            border-radius: 16px;
            border: 1px solid var(--primary-tanzanite-light, #7950f2);
            background: rgba(255, 255, 255, 0.06);
            box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
          }
          &__left {
            display: flex;
            align-items: center;
            &__iconSearch {
              stroke: $neutral-pure;
              width: 14px;
            }
            &__input {
              font-family: "TT Hoves Medium";
              font-weight: 500;
              color: white;
              outline: none;
              background: none;
              border: none;
              padding: 5px 10px;
              margin: 0;
              caret-color: $primary-light;
              font-size: 18px;
              max-width: 150px;
              &::placeholder {
                font-family: "TT Hoves Medium";
                font-weight: 500;
                color: $neutral-pure;
                font-weight: 500px;
                font-size: 18px;
                line-height: 28px;
              }
              &:hover::placeholder {
                color: $neutral-light;
              }
              &:focus-visible {
                color: $white;
              }
            }
          }
          &__iconParams {
            display: block;
            color: transparent;
            width: 16px;
            height: 16px;
            padding: 8px;
            border-radius: 6px;
          }
          &__iconSlash {
            display: none;
            font-family: "TT Hoves DemiBold";
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            width: 24px;
            height: 24px;
            color: $neutral-pure;
            text-align: center;
            padding: 1px;
            border-radius: 6px;
          }
        }
      }
      &__filters {
        display: none;
        position: relative;
        gap: 24px;
        &__button {
          cursor: pointer;
          outline: none;
          box-sizing: border-box;
          color: $neutral-pure;
          font-size: 18px;
          line-height: 28px;
          display: flex;
          justify-content: space-between;
          width: 160px;
          height: 56px;
          padding: 12px 20px;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 2px solid var(--neutral-onyx-blacker, #1f1a34);
          &:hover {
            .Networks__content__control__filters__button__label {
              color: $neutral-lighter;
            }
          }
          &:active {
            border: 2px solid var(--neutral-onyx-blacker, #1f1a34);
            background: rgba(255, 255, 255, 0.04);
            .Networks__content__control__filters__button__label {
              color: white;
            }
          }
          &:focus-within {
            .Networks__content__control__filters__button__label {
              color: white;
            }
          }
          &:focus-visible {
            border-radius: 16px;
            border: 2px solid var(--primary-tanzanite-light, #7950f2);
            background: rgba(255, 255, 255, 0.04);
            box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
          }
          &__label {
            font-family: "TT Hoves Medium";
            font-weight: 500;
            color: $white;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
          }
          &__icon {
            width: 12px;
            stroke: $white;
          }
          &__pannel2 {
            position: absolute;
            top: calc(100% + 5px);
            left: 77%;
            transform: translateX(-50%);
          }
          &__pannel1 {
            position: absolute;
            top: calc(100% + 5px);
            left: 23%;
            transform: translateX(-50%);
          }
          &__pannel1,
          &__pannel2 {
            box-sizing: border-box;
            width: 160px;
            flex-direction: column;
            align-items: flex-start;
            padding: 4px;
            background: $primary-black;
            box-shadow: 0px 8px 8px rgba(5, 1, 20, 0.64);
            border-radius: 16px;
            z-index: 1000;
            &__label {
              &:hover {
                color: $neutral-light;
                cursor: pointer;
                border-radius: 16px;
                padding: 12px 20px;
                background: var(--primary-tanzanite-blacker, #100a25);
              }
              &:focus-visible {
                outline: none;
                border-radius: 16px;
                border: 2px solid var(--primary-tanzanite-light, #7950f2);
                box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
              }
            }
          }
        }
      }
    }
    &__list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  @media #{$md} {
    &__content {
      justify-content: center;
      align-items: center;
      max-width: 1192px;
      &__head {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
      }
      &__control {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__searchBar {
          width: 30%;
          &__content {
            &__iconSlash {
              display: block;
            }
            &__iconParams {
              display: none;
            }
          }
        }
        &__filters {
          display: flex;
        }
      }
    }
  }
  @media #{$lg} {
    padding: 50px 120px;
    margin-top: 35px;
    &__content {
      gap: 48px;
      &__control {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__searchBar {
          width: 35%;
        }
        &__filters {
          align-self: flex-end;
          display: flex;
        }
      }
    }
  }
  .Networks__content__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    max-width: 1192px;
    margin: 0 auto;
  }
  @media #{$sm} {
    .Networks__content__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media #{$md} {
    .Networks__content__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media #{$xl} {
    .Networks__content__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.Networks__content__control__filters__button__pannel1__label,
.Networks__content__control__filters__button__pannel2__label,
.Networks__content__control__filters__mobile__section__button__pannel1__label,
.Networks__content__control__filters__mobile__section__button__pannel2__label {
  font-family: "TT Hoves Medium";
  margin: 0;
  color: $neutral-pure;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 14px;
  border: 2px solid transparent;
}

.Networks__content__control__searchBar__content__iconSlash {
  position: relative;
  transition: transform 0.3s ease;
}

.Networks__content__control__searchBar__content__iconSlash::before,
.Networks__content__control__searchBar__content__iconSlash::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  background: $neutral-pure;
  top: 47%;
  left: 26%;
  transition: transform 0.3s ease;
}

.Networks__content__control__searchBar__content__iconSlash::before {
  transform: rotate(-65deg);
}

.Networks__content__control__searchBar__content__iconSlash::after {
  transform: rotate(45deg);
  opacity: 0;
}

.Networks__content__control__searchBar__content__iconSlash.icon--active::before {
  animation: rotate-first-slash 0.3s ease-out forwards;
}

.Networks__content__control__searchBar__content__iconSlash.icon--active::after {
  opacity: 1;
  animation: cross-fade 0.3s ease-out forwards;
}

.Networks__content__control__filters__button__pannel1__label.selected,
.Networks__content__control__filters__button__pannel2__label.selected {
  color: white;
}

@keyframes rotate-first-slash {
  0% {
    transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes cross-fade {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

@media (max-width: 768px) {
  .Networks__content__control__filters__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    background-color: var(--primary-tanzanite-blacker, #100a25);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    &__header {
      display: flex;
      padding: 12px 13px;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
      &__button {
        cursor: pointer;
        display: flex;
        width: 13px;
        height: 13px;
        padding: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
      }
    }
    &__section {
      display: flex;
      flex-direction: column;
      h5 {
        color: var(--neutral-white, #fff);
        font-family: "TT Hoves Bold";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 0;
        padding: 0px 0px 8px 20px;
      }
      &__button {
        cursor: pointer;
        &__pannel1,
        &__pannel2 {
          box-sizing: border-box;
          width: 160px;
          flex-direction: column;
          align-items: flex-start;
          padding: 4px;
          background: $primary-black;
          box-shadow: 0px 8px 8px rgba(5, 1, 20, 0.64);
          border-radius: 16px;
          z-index: 1000;
          &__label {
            color: $white;
            &:focus-visible {
              outline: none;
              border-radius: 16px;
              border: 2px solid $primary-light;
              box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
            }
          }
        }
      }
    }
    .first-section {
      border-bottom: 2px #ffffff1f solid;
      padding-bottom: 10px;
      margin-bottom: 32px;
    }
    button {
      text-align: center;
      width: 95%;
      height: 56px;
      padding: 16px 20px 18px 20px;
      border-radius: 16px;
      margin-top: 35px;
      margin-bottom: 10px;
      align-self: center;
    }
  }
}

@media (min-width: 769px) {
  .Networks__content__control__filters__button {
    display: flex;
    justify-content: space-between;
  }
  .Networks__content__control__filters__mobile {
    display: none;
  }
}

.rotate {
  transition: all 0.4s ease;
  transform: rotateZ(-180deg);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-blacker-bis; 
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}