$white-color: #ffffff14;
$white-hover-color: #ffffff1f;
$white-pressed-color: #ffffff29;
@import "../utils/variables";

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.btn {
  &__primary {
    cursor: pointer;
    background: $primary-light ;
    color: white;
    font-weight: 600;

    &:focus {
      background: $primary-pure;
      border: 1px solid $primary-light;
      box-shadow: $primary-box-shadow;
    }

    &:hover {
      border: none;
      box-shadow: none;
      background: $primary-pure;
    }

    &:active {
      border: none;
      box-shadow: none;
      background: $primary-medium;
    }

    &--spinner {
      color: $primary-blacker-bis;
      background: $primary-lighter;
    }
  }

  &__shade {
    background: $primary-black;
    color: $primary-lighter;
    font-weight: 600;

    &:focus {
      background: $primary-black-focus-gradient;
      border: 1px solid $primary-light;
      box-shadow: $primary-box-shadow;
    }

    &:hover {
      border: none;
      box-shadow: none;
      background: $primary-darker;
    }

    &:active {
      box-shadow: none;
      box-shadow: none;
      background: $primary-dark;
    }

    &--spinner {
      background: $primary-black;
      color: $primary-lighter;
    }
  }

  &__white {
    background: $white-hover-color;
    color: white;
    font-weight: 600;

    &:focus {
      background: $white-hover-color;
      border: 1px solid $primary-light;
      box-shadow: $primary-box-shadow;
    }

    &:hover {
      border: none;
      box-shadow: none;
      background: $white-hover-color;
    }

    &:active {
      border: none;
      box-shadow: none;
      background: $white-pressed-color;
    }

    &--spinner {
      background: $white-hover-color;
      color: white;
    }
  }

  &--large,
  &--medium,
  &--small {
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--large {
    font-size: 18px;
    line-height: 29px;
    height: 56px;
    width: 115px;
    border-radius: 16px;
  }

  &--medium {
    font-size: 16px;
    line-height: 26px;
    height: 48px;
    width: 94px;
    border-radius: 14px;
  }

  &--small {
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    width: 82px;
    border-radius: 12px;
  }

  &--disabled {
    color: $neutral-medium;
    background-color: $neutral-black;
    fill: $neutral-medium;
  }
}
