.Cosmos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -20px;
  margin-left: 12px;
  margin-right: 12px;
  gap: 24px;
  &__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px #bea8ff3d;
    padding: 28px;
    border-radius: 32px;
    gap: 12px;
    max-width: 350px;
    &__mobileIMG {
      display: flex;
      &__frCoin {
        position: absolute;
        width: 48px;
        height: 47px;
        top: 0;
        right: 30px;
      }
      &__cosmosCoin {
        position: absolute;
        width: 57px;
        height: 60px;
        top: 70px;
        left: 0;
      }
      &__coin {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 52px;
        right: 3px;
      }
    }
    &__desktopIMG {
      display: none;
    }
    &__imgWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__cosmosSvg {
        width: 187px;
        height: 38px;
      }
      &__franceSvg {
        width: 90px;
        height: 18px;
        margin-bottom: 10px;
      }
    }
    &__title {
      color: #bea8ff8f;
      font-family: "TT Hoves Medium";
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin: 0;
      padding: 0;
    }
    &__desc {
      color: white;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }
    &__iconWrapper {
      display: flex;
      gap: 16px;
      margin-bottom: 3px;
      a {
        outline: none;
        border: 1px solid transparent;
        &:focus-visible {
          border-radius: 12px;
          border: 1px solid $primary-light;
          background-color: $neutral-dark;
          box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
        }
      }
      &__icon {
        cursor: pointer;
        width: 16px;
        height: 16px;
        padding: 8px;
        @media #{$lg} {
          width: 16px;
          height: 16px;
          padding: 8px;
        }
      }
    }
  }
  @media #{$lg} {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 80px;
    &__content {
      max-width: 1135px;
      max-height: 320px;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 10px;
      border-radius: 56px;
      &__iconWrapper {
        margin-top: 4px;
        margin-bottom: 10px;
      }
      &__mobileIMG {
        display: none;
      }
      &__desktopIMG {
        display: flex;
        &__bigFrCoin {
          position: absolute;
          top: 40px;
          right: 156px;
          width: 110px;
        }
        &__bigCosmosCoin {
          position: absolute;
          bottom: 15px;
          left: 35px;
          width: 163px;
          height: 160px;
        }
        &__smallCoin {
          position: absolute;
          top: 50px;
          left: 355px;
          width: 30px;
          height: 29px;
        }
        &__bigCoin {
          position: absolute;
          bottom: 26px;
          right: 254px;
          width: 45px;
          height: 44px;
        }
      }
      &__imgWrapper {
        &__cosmosSvg {
          width: 267px;
          height: 54px;
        }
        &__franceSvg {
          width: 125px;
          height: 26px;
        }
      }
      &__desc {
        font-size: 14px;
        line-height: 22px;
        padding: 0 295px;
      }
      &__title {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
  @media #{$xl} {
    &__content {
      max-width: 1190px;
    }
  }
}
