header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .header__firstBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 992px) {
    .header__firstBlock {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
