.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 25px;
  border-radius: 32px;
  background: #16102C;
  margin-top: 10px;
  row-gap: 16px;
  z-index: 99;
  max-width: 345px;
  max-height: 305px;
  @media #{$lg} {
    padding: 80px 60px 60px 60px;
    border-radius: 80px;
    row-gap: 40px;
    // margin-right: 590px;
    max-width: 448px;
    max-height: 380px;
  }
  @media #{$xl} {
    padding: 100px 80px 80px 80px;
    border-radius: 80px;
    row-gap: 40px;
    margin-right: 590px;
    max-width: 448px;
    max-height: 380px;
  }
  &__title {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    width: 290px;
    margin: 0;
    padding: 0;
  }
  &__desc {
    font-family: "TT Hoves Regular";
    font-weight: 500;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    width: 290px;
    margin: 0;
    padding: 0;
  }
  &__iconWrapper {
    display: flex;
    gap: 24px;
    a {
      border: 1px solid transparent;
    }
    a:focus-visible {
      border-radius: 12px;
      border: 1px solid $primary-light;
      background-color: $neutral-dark;
      box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
      outline: none;
    }
  }
  @media #{$lg} {
    &__title {
      font-size: 80px;
      line-height: 96px;
      width: 455px;
    }
    &__desc {
      font-size: 24px;
      line-height: 34px;
      width: 440px;
    }
    &__iconWrapper {
      display: flex;
      gap: 24px;
    }
  }
}