@import '../utils/variables';

.link {
  &__primary {
    color: $primary-light;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    height: 56px;
    width: 110px;
    border-radius: 16px;
    padding: 0;
    margin: 0;

    &:hover {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-light;
    }
  }

  &__white {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    height: 17px;
    width: 50px;
    border-radius: 5px;
    padding: 2px;
  }
  &__primary, &__white {
    background: none;
    border: solid 1px transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
      outline: none;
      border-color: $primary-light;
      box-shadow: 0px 0px 0px 6px #7950F23D;
    }
    &--disabled {
      color: $neutral-dark;
      &:focus {
        border: none;
        box-shadow: none;
      }
      &:active {
        color: $neutral-dark;
      }
      &:hover {
        color: $neutral-dark;
      }
    }
  }
}