@import "../utils/variables";

.link {
  font-family: "TT Hoves Medium", sans-serif;
  font-weight: 500;
  &__primary {
    font-family: "TT Hoves Medium", sans-serif;
    font-weight: 500;
    color: $primary-light;
    font-size: 18px;
    line-height: 29px;
    height: 56px;
    width: 110px;
    border-radius: 16px;
    padding: 0;
    margin: 0;

    &:hover {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-light;
    }
  }

  &__white {
    font-family: "TT Hoves Medium", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    line-height: 16px;
    height: 17px;
    width: 50px;
    border-radius: 5px;
    padding: 2px;
  }
  &__primary,
  &__white {
    font-family: "TT Hoves Medium", sans-serif;
    font-weight: 500;
    background: none;
    border: solid 1px transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &--disabled {
      color: $neutral-dark;
      &:focus {
        border: none;
        box-shadow: none;
      }
      &:active {
        color: $neutral-dark;
      }
      &:hover {
        color: $neutral-dark;
      }
    }
  }
}
