.main-illustration {
  z-index: -1;
  .main-video {
    margin: -100px 0;
    width: 515px;
    height: 515px;
    object-fit: cover;
  }
  @media (min-width: 992px) {
    .main-video {
      margin: 0;
      margin-left: 110px;
      position: absolute;
      width: 675px;
      height: 800px;
      object-fit: cover;
      left: 500px;
      bottom: -80px;
    }
  }
}
