.main-illustration {
  z-index: -1;
  .main-video {
    margin: -100px 5px -100px 0;
    max-width: 515px;
    height: 515px;
    object-fit: cover;
  }
  .main-img {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 160px;
  }
  @media #{$lg} {
    .main-video {
    max-width: 615px;
    height: 800px;
    }
    .main-img {
      position: absolute;
      width: 600px;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 280px;
    }
  }
  @media #{$xl} {
    .main-video {
      margin: 0;
      margin-left: 110px;
      position: absolute;
      max-width: 675px;
      height: 800px;
      object-fit: cover;
      left: 500px;
      bottom: -80px;
    }
    .main-img {
      position: absolute;
      width: 580px;
      top: 45%;
      left: 79.5%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 0;
    }
  }
}
