.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 140px 128px 100px;
  gap: 81px;
  width: 1440px;
  height: 386px;
  background: #7950F2;
  z-index: 5;
}