.metrics {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 28px;
  background: #7950f2;
  z-index: 0;

  h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 0;
    white-space: nowrap;
    align-self: flex-start;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;

    &__firstMetric,
    &__secondMetric,
    &__thirdMetric {
      color: $white;
      h5 {
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 16px;
        line-height: 25px;
        white-space: nowrap;
        margin: 0;
        padding: 0;
      }
    }
  }

  a {
    text-decoration: none;
    &:focus-visible {
      outline: none;
    }
  }

  &__btn {
    white-space: nowrap;
    cursor: pointer;
    width: 187px;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 32px;
    &--mobile {
      font-family: "TT Hoves DemiBold";
      display: flex;
      background-color: rgba(255, 255, 255, 0.08);
      &:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }
      &:active {
        background-color: $primary-medium;
      }
    }
    &--desktop {
      display: none;
    }
    &:active {
      background-color: $primary-medium;
    }
    &:focus-visible {
      outline: none;
      border-radius: 16px;
      border: 1px solid $primary-light;
      background: $primary-pure;
      box-shadow: 0px 0px 0px 6px rgba(121, 80, 242, 0.24);
    }
  }

  @media #{$lg} {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 370px;
    margin-top: -60px;
    padding-top: 20px;

    h3 {
      margin-right: 0;
      font-size: 48px;
      line-height: 57px;
      margin-bottom: 32px;
    }

    &__wrapper {
      margin-bottom: 40px;
      gap: 80px;
      &__firstMetric,
      &__secondMetric,
      &__thirdMetric {
        h5 {
          font-size: 40px;
          line-height: 48px;
        }
        p {
          font-family: "TT Hoves Medium";
        }
      }
    }

    &__btn {
      margin-left: 1px;
      margin-right: 0;
      margin-bottom: 30px;
      &--mobile {
        display: none;
      }
      &--desktop {
        font-family: "TT Hoves DemiBold";
        display: flex;
        background-color: rgba(255, 255, 255, 0.08);
        &:hover {
          background-color: rgba(255, 255, 255, 0.12);
        }
        &:active {
          background-color: $primary-medium;
        }
      }
    }
  }
}

.metrics__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  a {
    display: inline-block;
  }
  @media #{$lg} {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
  }
}
