@import "../utils/variables";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  @media #{$lg} {
    padding: 18px 120px;
  }

  &__logo {
    &--mobile {
      .Favicon {
        &--white {
          width: 32px;
          height: 32px;
        }
        &__vector {
          width: 18px;
          height: 18px;
        }
      }
      @media #{$sm} {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @media #{$sm} {
        display: block;
        .Favicon {
          &--white {
            width: 24px;
            height: 24px;
          }
          &__vector {
            width: 14px;
            height: 14px;
          }
        }
        .Logo__brand {
          width: 87px;
          height: 15px;
        }
      }
    }
  }

  &__menu {
    &--mobile {
      display: block;
      .icon--small {
        padding: 10px;
        width: 20px;
        height: 20px;
      }
      .icon--small--cross {
        padding: 13px;
        width: 14px;
        height: 14px;
      }

      @media #{$sm} {
        display: none;
      }
    }
    &--desktop {
      display: none;
      align-items: center;
      gap: 22px;
      .btn--small {
        height: 40px;
        width: 65px;
        border-radius: 12px;
        padding: 8px 14px 8px 14px;
        margin-top: 6px;
      }
      &__item {
        position: relative;

        @media #{$sm} {
          &:hover {
            .Navbar__dropdown {
              display: flex;
            }
          }
        }

        &__spacer {
          display: block;
          position: absolute;
          height: 10px; /* Ajustez cette valeur en fonction de l'espace que vous voulez couvrir */
          width: 100%;
        }
      }

      &.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-blacker-bis;
        z-index: 1000;
        .btn--small {
          margin-bottom: 300px;
        }
      }

      @media #{$sm} {
        display: flex;
        flex-direction: row;
        &.open {
          display: flex;
          flex-direction: row;
          position: static;
          background-color: transparent;
          .btn--small {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &__dropdown {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -15px;
    top: 40px;
    background: $primary-black;
    box-shadow: 0px 8px 8px rgba(5, 1, 20, 0.64);
    border-radius: 16px;
    z-index: 1000;

    a {
      text-decoration: none;
    }

    &__item {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      gap: 14px;
      &__img {
        width: 42px;
        height: 42px;
      }
    }

    &__item.isDisabled {
      pointer-events: none;
    }
  }

  &__mobile {
    display: flex;
    width: 20px;

    @media #{$sm} {
      display: none;
    }
  }

  &__link {
    &--primary {
      font-family: "TT Hoves Medium", sans-serif;
      color: $primary-light;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      height: 56px;
      width: 110px;
      border-radius: 16px;
      padding: 0;
      margin: 0;

      &:hover {
        color: $primary-lighter;
      }

      &:active {
        color: $primary-light;
      }
    }

    &--white {
      font-family: "TT Hoves DemiBold", sans-serif;
      color: #ffffff;
      font-size: 14px;
      line-height: 17px;
      border-radius: 5px;
      padding: 5px;
      padding-bottom: 5px;
      margin: 0;
      &:active {
        color: white;
      }
      &:hover {
        color: $neutral-lighter;
      }
      &--disabled {
        text-decoration: none;
        color: $neutral-dark;
        cursor: not-allowed;
        &:focus {
          border: none;
          box-shadow: none;
        }
        &:active {
          color: $neutral-dark;
        }
        &:hover {
          color: $neutral-dark;
        }
      }
    }

    &--title {
      border: none;
      color: #ffffff;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      border-radius: 5px;
      margin: 0;
      &--disabled {
        color: $neutral-pure;

        &:focus {
          border: none;
          box-shadow: none;
        }

        &:active {
          color: $neutral-dark;
        }

        &:hover {
          color: $neutral-dark;
        }
      }
      &:hover {
        color: $neutral-lighter;
      }
      &:active {
        color: white;
      }
    }

    &--subtitle {
      color: $neutral-pure;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      margin-top: 0;
      margin-bottom: 0;
      &--disabled {
        color: $neutral-medium;

        &:focus {
          border: none;
          box-shadow: none;
        }

        &:active {
          color: $neutral-dark;
        }

        &:hover {
          color: $neutral-dark;
        }
      }
    }

    &--primary,
    &--white {
      background: none;
      border: solid 1px transparent;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 6px;

      &:focus {
        outline: none;
        border-color: $primary-light;
        box-shadow: 0px 0px 0px 6px #7950f23d;
      }
    }
  }

  &__links__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
