.CarouselNetworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  background: $primary-blacker;
  z-index: 0;
  margin-top: 120px;
  &__title {
    margin-top: 120px;
    font-size: 32px;
    line-height: 38px;
  }
  &__title.desktop {
    margin-bottom: 0;
    display: none;
  }
  &__title.mobile {
    display: block;
  }
  a {
    text-decoration: none;
  }
  &__btn {
    display: none;
    margin-bottom: 80px;
    width: auto;
    padding: 0 20px;
  }
  &__swiper__container {
    position: relative;
    width: 100%;
    height: auto;
    touch-action: pan-y;
    overflow-x: scroll;
    margin-bottom: 80px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &__swiper__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
    will-change: transform;
  }
  &_swiper__list.is-swiping {
    transition: none;
  }
  &__swiper__list.is-not-swiping {
    transition: transform 0.3s ease-out;
  }
  @media #{$lg} {
    &__swiper__container {
      margin: 0;
    }
    &__title {
      font-size: 48px;
      line-height: 57px;
    }
    &__title.desktop {
      display: block;
    }
    &__title.mobile {
      display: none;
    }
    &__btn {
      display: flex;
    }
  }
}