.Swiper__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #16102C;
  border: 1px solid #1F1A34;
  border-radius: 16px;
  min-width: 120px;
  min-height: 140px;
  user-select: none;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    user-select: none;
    &__img {
      width: 40px;
      user-select: none;
    }
    &__metrics {
      font-family: 'TT Hoves DemiBold';
      font-weight: 500;
      font-size: 9px;
      line-height: 10px;
      line-height: 120%;
      color: #00FFA3;
      background: rgba(0, 255, 163, 0.08);
      border-radius: 4px;
      padding: 3px 5px 4px;
      user-select: none;
    }
    &__text {
      text-align: center;
      user-select: none;
      &__desc {
        color: $neutral-pure;
        padding: 0;
        margin: 0;
        user-select: none;
      }
      &__title {
        font-family: 'TT Hoves DemiBold', sans-serif;
        font-weight: 500;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        color: #FFFFFF;
        margin: -1px 0px;
        user-select: none;
      }
    }
  }
}